*/*
!Blast2GO_gff_merge/gff-B2gGO-merge.py
!gff3_extraction/gff3_extraction.py
!gff3_extraction/gff3_2_fasta.py
!Blast2GO_gff_merge.2/filesParse.py
!Blast2GO_gff_merge.2/merge.py
!pathway_tools_rna_data/ed_id_change.py
!hmmer/LimIdExtractor.py
!hmmer/domainExtractor.py
!GO_merge/GO_merge.py
!tatro/gff3-gbk.py
!tatro/unigbkfasta.py
!requirements.txt
!gitignore.sh
